# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Data and Models
*.csv
*.pkl
*.joblib
*.sav

# Environment
.venv
env/
venv/
ENV/

# OS misc
.DS_Store
Thumbs.db
